// base
$font-family: "Inter", sans-serif;

// colors
$light-color: #fff;
$dark-color: #282828;
$gray-color: #F8F8F8;

// text-colors
$text-color: #1E2123;
$light-text-color: #fff;
$dark-text-color: #000;
$gray-text-color: #8291A3;
$blue-text-color: #664EF9;

// width
$cw: 1280;
// $mw: 320px;
// $wd1: $cw + 20 + px;
// $wd2: 1023.98 + px;
// $wd3: 621.98 + px;
// $wdm: 374.98 + px;

