// base
$font-family: "Inter", sans-serif;

// colors
$white: #fff;
$black: #000;

$white-text: #fff;
$blue-text: #664EF9;
$light-dark-text: #2B2B2B;
$gray-text: #8291A3;
$dark-text: #1E2123;

$white-bg: #fff;
$light-bg: #f8f8f8;
$yellow-bg: #FFD54F;

$blue-line-bg: linear-gradient(90deg, #9D94FF 0%, #6B50E9 94.5%);


// text-shadow

$ts-01: 0px 1px 2px rgba($black, 0.1);

// box-shadow

$bs-008: 0px 10px 20px rgba($black, 0.08);

// width
$cw: 1280;
// $mw: 320px;
// $wd1: $cw + 20 + px;
// $wd2: 1023.98 + px;
// $wd3: 621.98 + px;
// $wdm: 374.98 + px;

